<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Restaurant">
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#082032"/>
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="shortcut icon" href="favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <title>FoodZero Apps</title>
</head>
<body>
    <a href="#mainContent" class="skip-link">Skip To Content</a>
    <header class="header">
        <div class="header__inner">
            <h1 class="header__title">
                FoodZero App
            </h1>
        </div>
        <button id="menu" class="header__menu">☰</button>
    </header>
    
    <nav id="drawer" class="nav">
        <ul class="nav__list">
            <li class="nav__item"><a href="#/home">Home</a></li>
            <li class="nav__item"><a href="#/like">Favorite</a></li>
            <li class="nav__item"><a target="_blank" href="https://github.com/YWauran">About Us</a></li>
        </ul>
    </nav>

    <div class="hero" id="hero">
        <picture>
            <source media="(max-width:600px)" srcset="./images/heros-responsive/hero-image_4-small.jpg"  type="image/jpg">
            <img src="./images/heros-responsive/hero-image_4-small.jpg" alt="hero element">
        </picture>
        <div class="hero__inner">
            <h2 class="hero__title">Find Your Favorite Restaurant</h2>
        </div>
    </div>

    <main id="mainContent" tabindex="0">
        
    </main>

    <footer>
        <p>Copyright &copy; 2022 - FoodZero Apps</p>
    </footer>
</body>
</html>
