.restaurants {
    display: grid;
    grid-row-gap: 16px;
}

@media screen and (max-width: 499px) {
    .nav {
        z-index: 10;
        background-color: #334756;
        width: 100%;
        position: absolute;
        -webkit-transform: translate(-500px, 0);
        transform: translate(-500px, 0);
        transition: transform 0.3s ease;
    }

    .open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .nav__item {
        display: list-item;
        border-bottom: 1px solid #2C394B;
        width: 100%;
        text-align: center;
    }
}


@media screen and (min-width: 500px) {
    .header__menu {
        display: none;
    }
}

@media screen and (min-width: 600px) {
    .hero__title {
        font-size: 25px;
    }
}

@media screen and (min-width: 700px) {
    .restaurants {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 16px;
    }

    .hero__title {
        font-size: 30px;
    }

    .restaurant__image__info {
        display: flex;
        
    }

    .restaurant__info {
        text-align: left;
        margin-left: 20px;
    }

    .hero__inner {
        margin-top: 50%;
    }
}

@media screen and (min-width: 800px) {
    .nav__list {
        max-width: 800px;
        margin: 0 auto;
    }

    .hero__inner {
        margin-top: 40%;
    }
}

@media screen and (min-width: 900px) {
    .restaurants {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .hero__inner {
        margin-top: 30%;
    }
}

@media screen and (min-width: 1200px) {
    main {
        max-width: 1200px;
    }

    .hero {
        min-width: 500px;
    }

    .hero__inner {
        margin-top: 20%;
    }
}